<!-- Admin Interface -->
<template name="admin">
<div class="admin-container">
<h2>Administration Panel</h2>
<div class="panels">
<!-- Users information -->
<div class="user-panel panel panel-default">
	<div class="panel-heading" align="center">
		<span class="pull-left"><i class="fa fa-users"></i></span>
		User Information
	</div>
	<div class="panel-body">
		There are <b>{{nusers}}</b> accounts in the database.
		<ul><li><b>{{nstudents}}</b> students</li>
		<li><b>{{nteachers}}</b> teachers</li>
		<li><b>{{nadmins}}</b> administrators</li></ul>
	</div>
	<div align="center">
    <a class="users-button" href="{{pathFor 'users'}}">
			<i class="fa fa-users"></i> Manage</a>
  </div>
</div>
</div>
</div>
</template>

<template name="users">
<div class="users-container">
	<h2>Users</h2>
	{{> error}}
	{{> userEditor}}
	<div class="userlist">
		{{#each users}}
		<a class="user {{active}}" href="{{pathFor 'users'}}">
			<h4>{{username}}</h4>
			<p>{{type}}</p>
		</a>
		{{/each}}
	</div>
		<div class="input-group new-container">
			<span class="input-group-addon">New User</span>
			<input type="text" class="form-control new" placeholder="Enter username and press enter">
		</div>
</div>
</template>

<template name="class">
<div class="class-container">
	<h2>Classes</h2>
	{{> error}}
	<div class="classlist">
		{{#each classes}}
		<a class="class {{active}}" href="{{pathFor 'classes'}}">
			{{class.year}}
		</a>
		{{/each}}
	</div>
</div>
</template>

<template name="userEditor">
{{#if show}}<div align="center">
	<div class="panel panel-default user-editor">
		<div class="panel-heading">
			<span class="pull-left"><i class="fa fa-edit"></i></span>
			{{user._id}}
			<!--<span class="pull-right"><i class="fa fa-times"></i></span>-->
		</div>
		<div class="panel-body">
			<div class="input-group name-container">
			<span class="input-group-addon">Username</span>
			<input type="text" class="name form-control" placeholder="Username" value="{{user.username}}"></div>
			<div class="input-group pass-container">
			<span class="input-group-addon">Password</span>
			<input type="text" class="pass form-control" placeholder="Set a new password"></div>
			<div class="input-group type-container">
			<span class="input-group-addon">Type</span>
			<input type="text" class="type form-control" placeholder="Type: student, teacher or admin" value="{{user.type}}"></div>
			<button class="btn btn-danger btn-delete">
				<i class="fa fa-trash-o"></i> Delete</button>
			<button class="btn btn-success btn-insert">
				<i class="fa fa-upload"></i> Update</button>
			<button class="btn btn-warning btn-close">
				<i class="fa fa-times"></i> Close</button>
		</div>
	</div>
</div>{{/if}}
</template>
