@import "/client/flat-ui/flat-ui.import.less";

#me {
  h1 {
    color: @concrete
  }
}

.admin-container {
  .container;
  .userlist {
    .user {
      .list-group-item;
      h4 { .list-group-item-heading; }
      p { .list-group-item-text; }
    }
  }
}

.user-editor {
  width: 90%;
  margin-bottom: 2em;
}
