<template name="student">
		<div id="student">
			<h3>Benvenuto {{user.username}}</h3><br>
			<a href={{pathFor 'ui-test'}} class="btn btn-block btn-primary">ui-test</a>
			<a href="#fakelink" class="btn btn-block btn-primary">Compiti</a>
			<a href="#fakelink" class="btn btn-block btn-primary">Consegne</a>
			<a href="#fakelink" class="btn btn-block btn-primary">Materiale</a>
			<a href={{pathFor 'quiz'}} class="btn btn-block btn-primary ">Verifiche</a>

		</div>
</template>


<template name="quiz">
		<div id="quiz">
			<h3>{{get.title}}</h3>
			{{#each get.questions}}
			<div class="question">
				N. {{index}} {{title}}
				<div class="options">
					{{#each answers}}
					<p><input class="check turq" type="checkbox"/>{{title}}</p>
					{{/each}}
				</div>
			</div>
			{{/each}}
		</div>
</template>
