<template name="test_editor">
    <div class="panel panel-info">
        {{> Dpanel_head}}
        <div class="panel-body">
            {{> risposta}}
        </div>
        {{> Dpanel_footer}}
    </div>
</template>

<template name="risposta">
    <div class="input-group">
        <span class="input-group-addon">
            <input type="checkbox">
        </span>
        <input type="text" class="form-control" placeholder="Inserisci la risposta e indica se è corretta">
    </div>

    <input type="checkbox" checked data-toggle="switch" />

    <input type="checkbox" id="test1" />

    <div class="switch switch-square">
        <input type="checkbox" checked data-toggle="switch" />
    </div>

    <label class="checkbox" for="checkbox1">
        <input class="checkbox" type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
            Checkbox
    </label>

</template>

<template name="Dpanel_head">
    <div class="panel-heading">
        <div class="input-group">
            <span class="input-group-addon">n)</span>
            <input type="text" class="form-control" placeholder="Inserisci la domanda">
        </div>
    </div>
</template>

<template name="Dpanel_footer">
    <div class="panel-footer">
        <div class="input-group">
            <span class="input-group-addon">Punteggio </span>
            <input type="text" class="form-control" placeholder="Inserisci il punteggio">
        </div>
    </div>
</template>
