<template name="test_editor">
  <div class="container" id="test_editor">
    {{> Question}}
  </div>
</template>

<template name="Question">
  <div class="panel panel-info">
      {{> Qpanel_head}}
      <div class="panel-body">
          {{> Answer}}
          {{> Answer}}
          {{> Answer}}
      </div>
      {{> Qpanel_footer}}
  </div>
</template>

<template name="Answer">
  <div class="input-group answerbox">
    <span class="input-group-addon">
        <input type="checkbox">
    </span>
    <input type="text" class="form-control" placeholder="Inserisci la risposta e indica se è corretta">
    <button class="btn btn-danger removeanswerbtn">Elimina</button>
  </div>
</template>

<template name="Qpanel_head">
    <div class="panel-heading">
        <div class="input-group">
            <span class="input-group-addon">n)</span>
            <textarea class="form-control questionarea" placeholder="Inserisci la Domanda"></textarea>
        </div>
    </div>
</template>

<template name="Qpanel_footer">
    <div class="panel-footer ">
        <div class="input-group">
            <span class="input-group-addon">Punteggio </span>
            <input type="text" class="form-control" placeholder="Inserisci il punteggio">
        </div>
    </div>
</template>
