// Import Flat UI
@import "/client/flat-ui/bootstrap/bootstrap.import.less";
@import "/client/flat-ui/flat-ui.import.less";
@import "/client/flat-ui/variables.import.less";

.justify {
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

// Homepage
header {
	.text-center;
	background: white;
	color: @turquoise;

	img {height: 15em;}
	#logo {height: 15em}
	#title {
		height: 10em;
		border-top: 1px solid @clouds;

		h1{font-weight: 300}
		p {color: @concrete}
	}

}

#features-title {
	.text-center;
	.center-block;
	width: 70%;
	background: @turquoise;
	color: white;

	h4 {
		padding: .4em;
		margin: 0;
	}
}

#features {
	.container;
	.text-center;
	padding-top: 1em;

	article {
		text-align: center;
		display: inline-block;
		margin: 1em;
		padding: 2em;
		background: white;
		color: @silver;
		width: 18em;

		p {.justify;}
		i {font-size: 4em; color: @asbestos}
		h4{font-weight: 400; color: @wet-asphalt}
	}
}
