<template name="student">
	<div align ="center">
		<div class="student-container">
			<h1>Benvenuto {{user.username}}</h1><br>
			<a href="#fakelink" class="btn btn-block btn-primary">Classe</a>
			<a href="#fakelink" class="btn btn-block btn-success">Compiti</a>
			<a href="#fakelink" class="btn btn-block btn-primary">Consegne</a>
			<a href="#fakelink" class="btn btn-block btn-success">Materiale</a>
			<a href={{pathFor 'quiz'}} class="btn btn-block btn-primary ">Verifiche</a>
			<br>

		</div>
	</div>
</template>


<template name="quiz">
	<div align ="center">
		<div class="quiz">
			<h1>Verifica di {{materia}}</h1><br>
			<div><img src="Clipboard.png"></div><br>
			1.La nonna Pina compra 3 confezioni di biscotti; ciascuna confezione contiene 12 biscotti; li distribuisce tra i suoi 4 nipotini. Quanti biscotti dà a ciascuno?
				<div  class="options">


					<!-- SE FLAT-UI FUNZIONA...
					<label class="checkbox">
						<input type="checkbox" value=""  data-toggle="checkbox">3,1415926535897932384626338
					</label>
					<label class="checkbox">
						<input type="checkbox" value="" data-toggle="checkbox">Una mela
					</label>
					<label class="checkbox">
						<input type="checkbox" value="checked"  data-toggle="checkbox">JUROOOOO
					</label>
				-->
					<!--<input type="checkbox"  data-toggle="switch" hello />-->
					<br>
					<form >
						<p><input type="checkbox" id="test1" /><label for="test1">3,14</label></p>
						<p><input type="checkbox" id="test2" /><label for="test2">Molti!!!!</label></p>
						<p><input type="checkbox" id="test3" /><label for="test3">Boooohhhh</label></p>
					</form>
			</div>
			<div class="pagination">
            <ul>
              <li class="previous"><a href="#fakelink" class="fui-arrow-left"></a></li>
              <li class="active"><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li><a href="#fakelink">5</a></li>
              <li><a href="#fakelink">6</a></li>
              <li><a href="#fakelink">7</a></li>
              <li><a href="#fakelink">8</a></li>
              <li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>
            </ul>
          </div>
		</div>
	</div>
</template>
