<!-- route: / -->
<template name="home">
	<div id="home">
		<header>
			<div id="logo">
				<img src="logo.png" alt="feynman diagram">
			</div>
			<div class="title">
				<h1>Photon</h1>
				<p>A light learning management system</p>
			</div>
		</header>
		<section id="ideas">
			<div class="title">
				<h4>Ideas</h4>
			</div>
			<article>
				<i class="fa fa-circle-o"></i>
				<h4>Simple</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Donec a diam lectus. Sed sit amet ipsum mauris.
					Maecenas congue ligula ac quam viverra nec consectetur ante
					hendrerit. Donec et mollis dolor. Praesent et diam eget
					libero egestas mattis sit amet vitae augue. Nam tincidunt
					congue enim, ut porta lorem lacinia consectetur.
				</p>
			</article>
			<article>
				<i class="fa fa-tachometer"></i>
				<h4>Fast</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Donec a diam lectus. Sed sit amet ipsum mauris.
					Maecenas congue ligula ac quam viverra nec consectetur ante
					hendrerit. Donec et mollis dolor. Praesent et diam eget
					libero egestas mattis sit amet vitae augue. Nam tincidunt
					congue enim, ut porta lorem lacinia consectetur.
				</p>
			</article>
			<article>
				<i class="fa fa-unlock"></i>
				<h4>Open</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Donec a diam lectus. Sed sit amet ipsum mauris.
					Maecenas congue ligula ac quam viverra nec consectetur ante
					hendrerit. Donec et mollis dolor. Praesent et diam eget
					libero egestas mattis sit amet vitae augue. Nam tincidunt
					congue enim, ut porta lorem lacinia consectetur.
				</p>
			</article>
		</section>
		<section id="features">
			<div class="title">
				<h4>Features</h4>
			</div>
			<article>
				<img>
				<h4>Admin panel</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Donec a diam lectus. Sed sit amet ipsum mauris.
					Maecenas congue ligula ac quam viverra nec consectetur ante
					hendrerit. Donec et mollis dolor. Praesent et diam eget
					libero egestas mattis sit amet vitae augue. Nam tincidunt
					congue enim, ut porta lorem lacinia consectetur.
				</p>
			</article>
			<article>
				<img>
				<h4>Tests</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Donec a diam lectus. Sed sit amet ipsum mauris.
					Maecenas congue ligula ac quam viverra nec consectetur ante
					hendrerit. Donec et mollis dolor. Praesent et diam eget
					libero egestas mattis sit amet vitae augue. Nam tincidunt
					congue enim, ut porta lorem lacinia consectetur.
				</p>
			</article>
			<article>
				<img>
				<h4>Class manager</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Donec a diam lectus. Sed sit amet ipsum mauris.
					Maecenas congue ligula ac quam viverra nec consectetur ante
					hendrerit. Donec et mollis dolor. Praesent et diam eget
					libero egestas mattis sit amet vitae augue. Nam tincidunt
					congue enim, ut porta lorem lacinia consectetur.
				</p>
			</article>
		</section>
		<footer>
			<h3>Like Photon? Help us!</h3>
			<div id="links">
				<a href="https://github.com/KeepMyStuff/lms">
					<i class="fa fa-github"></i>
					Fork us on github
				</a>
			</div>
		</footer>
	</div>
</template>
