<!-- Overview -->

<template name="admin">
	<div class="admin-container">
		<h2 class="text-center">Administration Panel</h2>
		<div class="panels">

			<!-- Users information -->
			<div class="col-sm-6 center-block">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-users"></i>
						User Information
					</div>
					<div class="panel-body">
						There are <b>{{nusers}}</b> accounts in the database.
						<ul>
							<li><b>{{ntype 'student'}}</b> students</li>
							<li><b>{{ntype 'teacher'}}</b> teachers</li>
							<li><b>{{ntype 'admin'}}</b> administrators</li>
						</ul>
						<a class="users-button" href="{{pathFor 'users'}}">
							<i class="fa fa-users"></i>
							Manage
						</a>
					</div>
				</div>
			</div>

			<!-- Classes Information -->
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-graduation-cap"></i>
						Classes Information
					</div>
					<div class="panel-body">
						There are <b>{{nclasses}}</b> classes in the database.
						<a class="classes-button" href="{{pathFor 'admin-classes'}}">
							<i class="fa fa-graduation-cap"></i>
							Manage
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<!-- Users -->

<template name="users">
<div class="users-container">
	<h2 class="text-center">Users</h2>
	{{> error}}
	{{> userEditor}}
	{{> userAdder}}
	{{#if paginator.show}}
	<div class="text-center">
		<ul class="pagination">
				{{#each paginator.pages}}
				<li class="{{activePage}}"><a class="page" href="">{{index}}</a></li>
				{{/each}}
		</ul>
	</div>
	{{/if}}
	<div class="userlist">
		{{#each users}}
		<a class="{{active}}" href="{{pathFor 'users'}}">
			<h4>{{username}}</h4>
			<p>{{type}}</p>
		</a>
		{{/each}}
	</div>
</div>
</template>

<template name="userAdder">
	{{#if show}}
	<div class="panel panel-default user-adder">
		<div class="panel-heading">
			<i class="fa fa-edit"></i>
			Insert new User
		</div>
		<div class="panel-body">
			<div class="input-group name-container">
				<span class="input-group-addon">Username</span>
				<input type="text" class="username form-control" placeholder="Username (required)">
			</div>
			<div class="input-group name-container">
				<span class="input-group-addon">Full Name</span>
				<input type="text" class="fullname form-control" placeholder="Name and Surname">
			</div>
			<div class="input-group mail-container">
				<span class="input-group-addon">Email</span>
				<input type="text" class="addr form-control" placeholder="Email (required without password)">
			</div>
			<div class="input-group pass-container">
				<span class="input-group-addon">Password</span>
				<input type="password" class="pass form-control" placeholder="Password (required without email)">
			</div>
			<div class="input-group pass-container">
				<span class="input-group-addon">Type</span>
				<input type="text" class="usertype form-control" placeholder="'student', 'teacher', 'admin' (required)">
			</div>
			<button class="btn btn-success btn-insert"><i class="fa fa-upload"></i> Create</button>
		</div>
	</div>
	{{/if}}
</template>

<template name="userEditor">
	{{#if user}}
	<div class="panel panel-default user-editor">
		<div class="panel-heading">
			<i class="fa fa-edit"></i>
			{{user.type}}: {{user._id}}
		</div>
		<div class="panel-body">
			<div class="input-group name-container">
				<span class="input-group-addon">Username</span>
				<input type="text" class="name form-control" placeholder="Username" value="{{user.username}}">
			</div>
			<div class="input-group name-container">
				<span class="input-group-addon">Full Name</span>
				<input type="text" class="fullname form-control" placeholder="Name and Surname" value="{{user.fullname}}">
			</div>
			<div class="input-group mail-container">
				<span class="input-group-addon">Email</span>
				<input type="text" class="addr form-control" placeholder="Email" value="{{userMail.address}}">
			</div>
			<div class="input-group pass-container">
				<span class="input-group-addon">Password</span>
				<input type="password" class="pass form-control" placeholder="Set a new password">
			</div>
			<div class="drop-wrap">
				<div class="main-drop">Select type</div>
				<ul>
					<li class="set-type set-student">Student</li>
					<li class="set-type set-teacher">Teacher</li>
					<li class="set-type set-admin">Admin</li>
				</ul>
			</div>
			{{#if currentUserIs 'student'}}
			<div class="drop-wrap">
				<div class="main-drop">Select class</div>
				<ul>
					{{#each classes}}
					<li>
						<a href="{{pathFor 'admin-classes'}}">{{year}}{{course}}{{section}}</a>
						<a class="toggle">
							{{#if matches}}<i class="fa fa-times"></i>{{else}}<i class="fa fa-plus"></i>{{/if}}
						</a>
					</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<button class="btn btn-danger btn-delete">
				<i class="fa fa-trash-o"></i> Delete
			</button>
			<button class="btn btn-success btn-insert">
				<i class="fa fa-upload"></i> Update
			</button>
			<button class="btn btn-warning btn-close">
				<i class="fa fa-times"></i> Close
			</button>
		</div>
	</div>
	{{/if}}
</template>

<!-- Classes -->

<template name="adminClasses">
	<div class="class-container">
		<h2 class="text-center">Classes</h2>
		{{> error}}
		{{> classEditor}}
		{{> classAdder}}
		{{#if paginator.show}}
		<div class="text-center">
			<ul class="pagination">
					{{#each paginator.pages}}
					<li class="{{activePage}}"><a class="page" href="">{{index}}</a></li>
					{{/each}}
			</ul>
		</div>
		{{/if}}
		<div class="classlist">
			{{#each classes}}
			<a class="{{active}}" href="{{pathFor 'admin-classes'}}">
				<h4>{{year}}{{course}}{{section}}</h4>
				<p>Students: {{students.length}}, Teachers: {{teachers.length}}</p>
			</a>
			{{/each}}
		</div>
	</div>
</template>

<template name="classAdder">
	{{#if show}}
	<div class="panel panel-default class-adder-panel">
		<div class="panel-heading">
			<i class="fa fa-plus"></i> New Class
		</div>
		<div class="panel-body">
			<div class="input-group year">
				<span class="input-group-addon">Year</span>
				<input type="text" class="form-control new year-val" placeholder="1-5">
			</div>
			<div class="input-group course">
				<span class="input-group-addon">Course</span>
				<input type="text" class="form-control new course-val" placeholder="Enter any letter">
			</div>
			<div class="input-group section">
				<span class="input-group-addon">Section</span>
				<input type="text" class="form-control new section-val" placeholder="A-Z">
			</div>
			<button class="btn btn-success btn-insert">
				<i class="fa fa-upload"></i> Create
			</button>
		</div>
	</div>
	{{/if}}
</template>

<template name="classEditor">
	{{#if class}}
	<div class="panel panel-default class-editor">
		<div class="panel-heading">
			<i class="fa fa-edit"></i>
			{{class._id}}
		</div>
		<div class="panel-body">
			<h3>{{year}}{{course}}{{section}}</h3>
			<div class="students-drop drop-wrap">
				<div class="main-drop">{{ntype 'student'}} Students
				</div>
				<ul>
					{{#each students}}
					<li><a href="{{pathFor 'users'}}">{{username}}</a>
					<a class="toggle pull-right">
						{{#if added}}
							<i class="fa fa-times"></i>
						{{else}}
							<i class="fa fa-plus"></i>
						{{/if}}
					</a></li>
					{{/each}}
				</ul>
			</div>
			<div class="teachers-drop drop-wrap">
				<div class="main-drop">{{ntype 'teacher'}} Teachers</div>
				<ul>
					{{#each teachers}}
					<li>
						<a href="{{pathFor 'users'}}">{{username}}</a>
						<a class="toggle pull-right">
							{{#if added}}
								<i class="fa fa-times"></i>
							{{else}}
								<i class="fa fa-plus"></i>
							{{/if}}
						</a>
					</li>{{/each}}
				</ul>
			</div>
			<!-- buttons -->
			<button class="btn btn-danger btn-delete">
				<i class="fa fa-trash-o"></i> Delete
			</button>
			<button class="btn btn-success btn-insert">
				<i class="fa fa-upload"></i> Update
			</button>
			<button class="btn btn-warning btn-close">
				<i class="fa fa-times"></i> Close
			</button>
		</div>
	</div>
	{{/if}}
</template>
