.admin-container {
  .container;
  .panels {
    .row; .center-block;
    max-width: 60em;
    margin-top: 2em;
    .users-button, .classes-button {
      .btn; .btn-primary;
      margin-bottom: 1em;
      align: center;
    }
    .panel {
      .center-block;
      max-width: 25em;
    }
    .panel-body {
      color: @concrete;
    }
  }
}

.users-container, .class-container {
  .container;
  h2 {
    margin-bottom: 0.4em;
  }
  .btn {
    margin-top: 1em;
  }
  .btn-insert {
    margin-right: 1em; margin-left: 1em;
  }
  .drop-wrap ul {
    a {
      color: @clouds;
    }
    a.toggle {
      .pull-right;
      i.fa-times {
        color: @asbestos;
      }
      padding: 0 0.3em;
      //margin-top: 0.2em;
      //margin-right: 0.5em;
      //font-size: 12px;
    }
  }
  .userlist, .classlist {
    .list-group; .center-block;
    margin: 1em 2em;
    a {
      .list-group-item;
      h4 {
        .list-group-item-heading;
        color: @asbestos
      }
      p {
        .list-group-item-text;
        color: @concrete
      }
    }
    .active {
      background-color: @clouds;
    }
  }
}

// Classes

.class-container {
  .course {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .class-adder-panel {
    .center-block;
    max-width: 25em;
  }
  .panel {
    h3 {
      .text-center;
      color: @concrete;
    }
  }
}

// Users

.users-container {
  h2 {
    margin-bottom: 0.4em;
  }
  .pass-container, .name-container, .mail-container {
    margin: 0.5em 2em 0 2em;
  }
  .type-container {
    max-width: 300px;
  }
  .new-container {
    .new {
      max-width: 20em;
    }
  }
}

.user-editor, .user-adder, .class-editor {
  .center-block;
  .text-center;
  width: 90%;
  max-width: 600px;
  margin-bottom: 2em;
  .drop-wrap {
    margin-top: 1em;
  }
  .input-group-addon {
    //width:100px;
  }
}
