#student{
	.container;
	.center-block;
	.text-center;
	width:75%;
	max-width:45em;
	background-color:#ecf0f1;
	border-radius:4px;
	margin-top:3em;
	padding: 1em;
	h3{
		color:#2980b9;
	}
	.btn{
		.center-block;
		width:25%;
		max-width:20em;
		min-width:10em;
	}
}

#quiz{
	.container;
	.center-block;
	.text-center;
	width:75%;
	max-width:45em;
	min-width:15em;
	background-color:#cdc;
	border-radius:4px;
	margin-top:3em;
	padding: 1em;
	color:#136;
	@media (max-width:500px){
		width:90%;
	}
	h3{
		color:#27ae60;
		padding:.5em;
	}
	#username{
		.pull-left;
		padding:.5em;
	}
	#date{
		.pull-right;
		padding:.5em;
	}
	.question{
		.text-justify;
		padding: 1em 2em 1em 2em;
		@media(max-width:500px){
			padding:.6em;
		}
		background-color:#eeeeee;
		border-radius:4px;
		.options{
			.container;
			.center-block;
			.text-left;
			width:90%;
			margin-top:1em;
			span{
				margin-left:20px;
			}
			.check{
			vertical-align:-8px;
			}
		}
	}
}
