<template name="student">
		<div class="student-container">
			<h3>Benvenuto {{user.username}}</h3><br>
			<a href="#fakelink" class="btn btn-block btn-info">Compiti</a>
			<a href="#fakelink" class="btn btn-block btn-info">Consegne</a>
			<a href="#fakelink" class="btn btn-block btn-info">Materiale</a>
			<a href={{pathFor 'test'}} class="btn btn-block btn-info ">Verifica</a>
		</div>
</template>

<template name="test">
		<div class="test-container">
			<div class="username">{{user.username}}</div>
			<div class="date">{{currentTest.assignations.date}}</div><br>
			<h3>{{currentTest.title}}</h3>
			{{#each currentTest.questions}}
			<div class="question">
				{{index}}) {{question}}
				<div class="options">
					{{#each answers}}
					<p><input class="check blue" type="checkbox"/><span>{{answer}}</span></p>
					{{/each}}
				</div>
				<span>Question value: {{score}}pt.</span>
			</div>
			{{/each}}
			<hr>
			<a class="btn btn-block btn-danger btn-end">Fine</a>
		</div>
</template>

<template name="testResult">

</template>
