.student-container{
	.container;
	.center-block;
	.text-center;
	width: 75%;
	max-width: 45em;
	background-color: @clouds;
	border-radius: 4px;
	margin-top: 3em;
	padding: 1em;
	h3{
		color: @asbestos;
	}
	.btn{
		.center-block;
		font-weight:bold;
		width:25%;
		max-width:20em;
		min-width:10em;
	}
}

.test-container{
	.container;
	.center-block;
	.text-center;
	width: 75%;
	max-width: 45em;
	min-width: 15em;
	background-color: @clouds;
	border-radius: 4px;
	margin-top: 3em;
	padding: 1em;
	color: #136;
	@media (max-width: 500px){
		width:90%;
	}
	h3{
		color: @midnight-blue;
		padding: .5em;
	}
	.username{
		.pull-left;
		padding: .5em;
	}
	.date{
		.pull-right;
		padding: .5em;
	}
	.question{
		.text-justify;
		padding: 1em 2em 1em 2em;
		border-radius: 4px;
		@media(max-width: 500px){
			padding: .6em;
		}
		.options{
			.container;
			.center-block;
			width: 90%;
			margin-top: 1em;
			span{
				margin-left: 20px;
			}
			.check{
			vertical-align: -8px;
			}
		}
	}
	.btn.btn-end{
		font-weight: bold;
	}
	.testResult{
		.pull-left;
	}
}
