#test-editor {

  .panelheadnumber{
    border-color: @belize-hole;
    background-color: @belize-hole ;
    border-radius-bottom-left: 0;
    border-radius-bottom-right: 0;
  }


////////////////////////////////////////////////|  Question  |>
  .questionpanel{
    //border-color: @midnight-blue;
    padding-color: @nephritis;
    padding-size: 2em;
    margin-top: 1em;
  }
  .questionarea{
    resize: none;
    font-weight: bold;
  }
////////////////////////////////////////////////|  Answer  |>
  .answerbox {
    margin-top: 0.2em;
  }
  .answerinput{
    //border-color: @nephritis;
    border-left: 0;
    border-right: 0;
  }
  .answerarea{
    resize: none;
    border-left: 0;
    border-right: 0;
  }
  .removeanswerbtn{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 0.7em;
  }
////////////////////////////////////////////////|  Checkbox  |>
  .checkbackgr{
    background: @peter-river;
    border-color: @peter-river;
  }

  .check {
    .square(0.7em);
    .transition;
    .border-radius(4px);
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none!important;
    text-align: center;

    &:hover{
      cursor: pointer;
    }

    &:after {
      .transition;
      position: absolute;
      top: -0.35em;
      left: -0.46em;
      content:"";
      background:url('http://static.tumblr.com/upanoab/0hOmmcbuh/tick-sprite.png');
      width: 22px;
      height: 22px;
    }

    &:checked {
      .transition;
    }

    &:checked:after {
      .transition;
      position: absolute;
      top: -0.35em;
      left: -0.46em;
      content:"";
      background:url('http://static.tumblr.com/upanoab/0hOmmcbuh/tick-sprite.png');
      background-position:-20px;
      width: 22px;
      height: 22px;
    }
  }
}
