#test-editor {
  .answerbox {
    margin-top: 0.2em;
  }
  .questionarea{
    resize: none;
    font-weight: bold;
  }
  .removeanswerbtn{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 0.7em;
  }
}
