<template name="testEditor">
  <div class="container" id="test-editor">
    {{> Question}}
    <button class="btn btn-info">Aggiungi</button>
    <button class="btn btn-danger">Elimina</button>
  </div>
</template>

<template name="Question">
  <div class="panel panel-info">
      {{> Qpanel_head}}
      <div class="panel-body">
          {{> Answer}}
          {{> Answer}}
          {{> Answer}}
      </div>
      {{> Qpanel_footer}}
  </div>
</template>

<template name="Answer">
  <div class="input-group answerbox">
    <span class="input-group-addon checkbackgr">
      <input class="check" type="checkbox">
    </span>
    <input type="text" class="form-control form-inline answerinput" placeholder="Inserisci la risposta e indica se è corretta">
    <span class="input-group-btn removeanswerbtn btn btn-danger">Elimina</span>
  </div>
    <!--<button class="btn btn-danger removeanswerbtn">Elimina</button>-->
</template>

<template name="Qpanel_head">
    <div class="panel-heading">
        <div class="input-group">
            <span class="input-group-addon"><h4> n)</h4></span>
            <textarea class="form-control questionarea" placeholder="Inserisci la Domanda"></textarea>
        </div>
    </div>
</template>

<template name="Qpanel_footer">
    <div class="panel-footer">
        <div class="input-group">
            <span class="input-group-addon">Punteggio </span>
            <input type="text" class="form-control" placeholder="Inserisci il punteggio">
        </div>
    </div>
</template>
