<template name="testEditor">
  <div class="container" id="test-editor">
    {{#each getQuestions}}
      <div class="panel panel-default panelopt ">
        <div class="input-group">
          <span class="input-group-addon panelheadnumber"><h4> {{qindex}} )</h4></span>
          <textarea class="form-control questionarea" placeholder="Inserisci la Domanda">{{question}}</textarea>
        </div>
        <div class="panel-body verticalpadded">
          {{#each answers}}
            <div class="input-group answerbox">
              <span class="input-group-addon checkbackgr">
                <input class="check" type="checkbox">
              </span>
              <textarea rows="1" class="form-control answerarea" placeholder="Inserisci la risposta e indica se è corretta">{{that}}</textarea>
              <span class="input-group-btn removeanswerbtn btn btn-danger">Elimina</span>
            </div>
          {{/each}}
          <button class="btn btn-success answerbox center-block addanswerbtn">Aggiungi Risposta</button>
        </div>
        <div class="panel-footer panelscorefooter verticalpadded">
          <button class="btn btn-danger btn-sm"><i class="fa fa-times "></i></button>
          <div class="btn-group">
            <button class="btn btn-warning btn-sm"><i class="fa fa-chevron-down "></i></button>
            <button class="btn btn-warning btn-sm rightmovebtn"><i class="fa fa-chevron-up "></i></button>
          </div>
          <div class="input-group scoregroup">
            <span class="input-group-addon scoreaddon">Punteggio </span>
            <input type="text" maxlength="4" class="form-control scoreinput right-block" value="{{score}}">
            <!--<span class="input-group-addon">/10 </span>-->
          </div>
        </div>
      </div>
    {{/each}}
    <button class="btn btn-success center-block addquestionbtn">Aggiungi domanda</button>
  </div>
</template>
