// Import Flat UI
@import "/client/flat-ui/flat-ui.import.less";
@import "/client/flat-ui/variables.import.less";
@import "/client/flat-ui/bootstrap/forms.import.less";

input {
	.form-control
}

body {
	background: @wet-asphalt;
}

.container {
	width: 100%;
	padding: 0;
}

nav {
	.navbar;
	.navbar-static-top;
	.text-left;
	background: @wet-asphalt;
	min-height: .5em;
	margin: 0;
	padding: .6em;
	padding-left: 4em;
	font-size: .8em;
	font-weight: bold;

	a {color: white; margin-right: 1.5em;}
	.current {color: @turquoise}
}
